extends layout
block content
  header
    #title
      h1
        a(href='/') Fló App
    nav
      if !user
        h2
        a(href='/log-in') Log-in
        h2
        a(href='/sign-up') Sign-Up
        if user 
          p=user 
      else 
        h2 
          a(href="/log-out") Log-Out 
        h2 
          a(href="/create-post") Create a Post   
  main
    if user

      h1.postTitle POSTS:
      hr
      #posts 
        if posts 
          for post in posts
            .post

              .infoContainer
                h2=post.title
                h3.profileName=post.user.name
                h4.postDate=post.timestamp
              .contentContainer
                form(method="post")
                  input(type="text" name="postid" value=post.id class="hidden")
                  input(type='submit' value='DELETE POST')
              hr


